--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
google-generativeai
faiss-cpu
python-dotenv
graphviz
gTTS
Pillow
pdfplumber
python-pptx
pytesseract
numpy
fastapi
uvicorn
python-multipart
anyio
